<div class="row">

    <div class="card-layout col-4" *ngFor="let item of products">
      <mat-card>
        <div class="img-outer" (click)="openDetails(item?._id)">
          <img mat-card-image class="img-layout" [src]='path + item?.img'>
          <div class="hover-content">
            <div class="line"></div>
            <p> From ${{ item?.price }}</p>
            <h4> {{ item?.name }}</h4>
          </div>
        </div>


        <mat-card-content>
          <p>
            {{ item?.descript }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>ADD TO CART</button>
        </mat-card-actions>
      </mat-card>
    </div>

</div>